/* Your styles goes here. */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #202020;
  color: #ffffff;
}

.item-page-content {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 70%;
  border: 4px solid black;
  border-radius: 5px;
  margin: 20px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 30%,
    rgba(29, 185, 84, 1) 100%
  );
}

.item-page-details {
  text-align: left;
}

.playlist-name-label {
  font-weight: 600;
  text-align: center;
  font-size: xx-large;
}

.artist-item-page-details-header,
.album-item-page-details-header,
.playlist-item-page-details-header {
  display: flex;
  margin-bottom: 20px;
}

.artist-item-page-image,
.album-item-page-images,
.playlist-item-page-images {
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
}

.playlist-item-page-images {
  height: 400px;
}

.playlist-owner-text {
  font-size: xx-large;
  margin-top: 5%;
  font-weight: 600;
}

.playlist-description-text {
  margin-top: 10px;
  width: 400px;
  font-weight: 600;
}

.playlist-item-info {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.artist-item-page-title,
.album-item-page-title,
.playlist-item-page-title {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  align-items: stretch;
  justify-content: space-between;
}

.artist-type-text,
.album-type-text,
.playlist-type-text {
  font-size: medium;
  font-weight: bold;
}

.artist-label-text,
.album-label-text,
.playlist-label-text {
  font-size: xx-large;
  font-weight: bold;
}

.artist-genres-text,
.album-info-text,
.playlist-info-text {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.featured-tracks-label,
.playlist-tracks-label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: x-large;
}

.album-track-text,
.playlist-track-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: #a0a0a0;
    border-radius: 1.5%;
  }

  padding: 0.5%;
}

.featured-tracks-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.artist-track-name,
.symbol {
  padding-left: 5px;
  padding-right: 5px;
}

.album-track-name,
.playlist-track-name {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  cursor: pointer;
}

.album-item-page-details-textbox,
.playlist-item-page-details-textbox {
  margin-top: 10px;
  margin-bottom: 20px;
}

.track-page-content-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 10px;
  justify-content: left;
}

.track-item-info {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.track-item-title-info {
  display: flex;
  flex-direction: column;
}

.track-item-type-text {
  font-weight: 600;
  font-size: medium;
}

.track-item-name {
  font-weight: bold;
  font-size: xx-large;
}

.track-item-lyrics {
  font-size: medium;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: #a0a0a0;
  }
}

.track-lyrics {
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: scroll;
  overflow-x: hidden;
  height: 400px;
}

.chunk-of-lyrics {
  white-space: pre-wrap;
  padding: 0.4%;
  padding-bottom: 5%;
}

.track-lyrics::-webkit-scrollbar {
  width: 10px;
}

.track-lyrics::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #808080;
  box-shadow: inset;
  border-radius: 10px;
}

.track-lyrics::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset;
  -webkit-box-shadow: inset 0 0 6px #808080;
}

.track-item-additional-info {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.track-album-name {
  margin-top: 1rem;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.track-item-footer {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: large;
}

.track-artistlist {
  display: flex;
  flex-direction: row;
}

.track-item-footer p {
  margin-right: 10px;
}

.track-preview-audio {
  margin-bottom: 1rem;
}

.track-artist-name,
.artist-track-name {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

audio {
  &::-webkit-media-controls-panel {
    background-color: #202020;
  }

  &::-webkit-media-controls-mute-button,
  &::-webkit-media-controls-play-button {
    background-color: #ffffff;
    border-radius: 50%;
  }

  &::-webkit-media-controls-current-time-display,
  &::-webkit-media-controls-time-remaining-display {
    color: #ffffff;
  }

  &::-webkit-media-controls-timeline {
    background-color: #ffffff;
    border-radius: 25px;
    margin-left: 4%;
    margin-right: 4%;
    padding: 2%;
  }

  &::-webkit-media-controls-volume-slider {
    background-color: #ffffff;
    border-radius: 25px;
    padding: 4%;
    margin-right: 5%;
  }

  &::-webkit-media-controls-volume-control-container {
    align-items: center;
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #1db954;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.popup-box {
  background: #00000050;
  margin-top: auto;
  text-align: center;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #00000050;
  border-radius: 10px;
}

.popup-message {
  align-items: flex-end;
  margin-top: 10px;
  text-align: center;
}

.popup-box {
  animation: fadeOut ease 10s;
  -webkit-animation: fadeOut ease 10s;
  -moz-animation: fadeOut ease 10s;
  -o-animation: fadeOut ease 10s;
  -ms-animation: fadeOut ease 10s;
}

// for popup message
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
