/* Your styles goes here. */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #202020;
  color: #FFFFFF;
}

.search-page-wrapper,
.search-web-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.search-page-title,
.search-web-page-title {
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: xx-large;
}

.receive-token-btn {
  border: 3px solid black;
  background-color: #1fdf64;
  color: black;
  font-size: medium;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

.item-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-page-btns {
  width: 25%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 7%;
  padding-top: 2%;
}

.go-back-btn {
  width: 100%;
  margin-right: 10%;
}

.save-to-db-btn {
  width: 100%;
}

.go-back-btn,
.save-to-db-btn {
  padding: 3%;
  font-size: medium;
  background-color: #000000;
  color: #A0A0A0;
  border-radius: 4%;
  border-color: #000000;
  cursor: pointer;
  
  &:hover, &:focus {
    color: #FFFFFF;
    border-color: #808080;
    background-color: #808080;
 }
}

p {
  display: block;
}

.item-page-content {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 70%;
  border: 4px solid black;
  border-radius: 5px;
  margin: 20px;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 23%, rgba(0,255,111,1) 93%);
}

.item-page-details {
  text-align: left;
}

.playlist-name-label {
  font-weight: 600;
  text-align: center;
  font-size: xx-large;
}

.artist-item-page-details-header,
.album-item-page-details-header,
.playlist-item-page-details-header {
  display: flex;
  margin-bottom: 20px;
}

.artist-item-page-image,
.album-item-page-images,
.playlist-item-page-images {
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
}

.playlist-item-page-images {
  height: 400px;
  margin-right: 100px;
}

.playlist-owner-text {
  font-size: xx-large;
  margin-top: 5%;
  font-weight: 600;
}

.playlist-description-text {
  margin-top: 10px;
  width: 400px;
  font-weight: 600;
}

.playlist-item-info {
  display: flex;
  flex-direction: row;
}

.artist-item-page-title,
.album-item-page-title,
.playlist-item-page-title {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  align-items: stretch;
  justify-content: space-between;
}

.artist-type-text,
.album-type-text,
.playlist-type-text {
  font-size: medium;
  font-weight: bold;
}

.artist-label-text,
.album-label-text,
.playlist-label-text {
  font-size: xx-large;
  font-weight: bold;
}

.artist-genres-text,
.album-info-text,
.playlist-info-text {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.symbol {
  padding-left: 3px;
  padding-right: 3px;
}

.featured-tracks-label,
.playlist-tracks-label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: x-large;
}

.album-track-text,
.playlist-track-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: #A0A0A0;
    border-radius: 1.5%;
  }
  padding: 0.5%;
}

.featured-tracks-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.album-track-name,
.playlist-track-name {
  font-weight: 600;
  cursor: pointer;
}

.album-item-page-details-textbox,
.playlist-item-page-details-textbox {
  margin-top: 10px;
  margin-bottom: 20px;
}

.track-page-content-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 10px;
  justify-content: left;
}

.track-item-info {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.track-item-title-info {
  display: flex;
  flex-direction: column;
}

.track-item-type-text {
  font-weight: 600;
  font-size: medium;
}

.track-item-name {
  font-weight: bold;
  font-size: xx-large;
}

.track-item-additional-info {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.track-album-name {
  margin-top: 1rem;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.track-item-footer {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: large;
}

.track-artistlist {
  display: flex;
  flex-direction: row;
  margin: 0 -5px;
}

.artist-track-name {
  padding-right: 10px;
}

.track-item-footer p {
  margin-right: 10px;
}

.track-preview-audio {
  margin-bottom: 1rem;
}

.track-artist-name,
.artist-track-name {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.item-error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-error-text {
  font-weight: bold;
  font-size: xx-large;
  padding-top: 5%;
  color: darkred;
}

.item-error-link-to-token {
  font-weight: 700;
  font-size: x-large;
  margin-top: 30%;
  cursor: pointer;
  color: darkred;

  &:hover {
    color: blue;
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.popup-box {
  background: #00000050;
  margin-top: auto;
  text-align: center;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #00000050;
  border-radius: 10px;

}

.popup-message {
  align-items: flex-end;
  margin-top: 10px;
  text-align: center;
}


.popup-box {
  animation: fadeOut ease 10s;
  -webkit-animation: fadeOut ease 10s;
  -moz-animation: fadeOut ease 10s;
  -o-animation: fadeOut ease 10s;
  -ms-animation: fadeOut ease 10s;
}

.neural-network-fetch-comments-section {
  display: flex;
  flex-direction: column;
}

.neural-network-rating-label {
  margin: 5%;
  font-size: x-large;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.about-item-header-text {
  font-size: x-large;
}

.about-item-name-command-text {
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  font-family: serif;
  font-size: 40px;
}
.about-item-people {
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: double;
  width: 48%;
  justify-content: space-between;
}
.about-item-command {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-item-people-text {
  margin-right: 30px;
  margin-left: 15%;
  font-family: cursive;
  font-size: x-large;
  font-weight: 600;
}

.about-item-peple-img {
  margin-right: 20%;
}
