/* Your styles goes here. */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #E7ECFF;
}

.search-page-wrapper,
.search-web-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.search-page-title,
.search-web-page-title {
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: xx-large;
}

.receive-token-btn {
  border: 3px solid black;
  background-color: aquamarine;
  color: black;
  font-size: medium;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

.item-page-wrapper {
  display: flex;
  flex-direction: column;
}

.item-page-btns {
  display: flex;
  padding-bottom: 70px;
  padding-top: 5px;
}

.go-back-btn {
  width: 100px;
  margin-left: 10px;
}

.save-to-db-btn {
  margin-left: 30px;
}

.go-back-btn,
.save-to-db-btn {
  height: 40px;
  padding: 10px;
  font-size: medium;
  background-color: #C6D8FF;
  border: 3px solid rgb(40, 145, 145);
  border-radius: 10px;
  cursor: pointer;
}

// ivan4ik delay stili tyt
.item-page-content p {
  // padding: 7px;
}

.item-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-page-details {
  text-align: left;
}
