.neural-network-page-wrapper {
  margin-top: 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
}

.neural-network-fetch-comments-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fetch-comments-input {
  border: 0;
  border-bottom: 3px solid #00b8b8;
  height: 40px;
  width: 400px;
  text-align: left;
  font-size: x-large;
  padding-left: 10px;
  margin-left: 10px;
  padding-top: 3px;

  &:focus, &:hover {
    border-color: aqua;
  }

  &:focus-visible {
    outline: 0;
  }
}
