.livesearch-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.livesearch-input-container {
  display: flex;
  padding-bottom: 10px;
  width: 50%;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.livesearch-input {
  border: 0;
  border-bottom: 3px solid #00b8b8;
  height: 40px;
  width: 400px;
  text-align: left;
  font-size: x-large;
  padding-left: 10px;
  margin-left: 10px;
  padding-top: 3px;

  &:focus,
  &:hover {
    border-color: aqua;
  }

  &:focus-visible {
    outline: 0;
  }
}

.livesearch-selector {
  border: 0px;
  border-bottom: 3px solid #00b8b8;
  background-color: #ffffff;
  font-weight: 500;
  text-align: center;
  font-size: medium;
  padding-left: 5px;
  padding-top: 4px;
  height: 40px;
  width: 100px;

  &:hover {
    border-color: aqua;
  }
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  height: 500px;
  width: 50%;
}

.error-message {
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: large;
}

.clickable-dropdown-item {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-direction: row;
  padding: 10px;
  border-radius: 4px;
  width: 100%;

  &:hover {
    cursor: pointer;
    background-color: #A0A0A0;
  }
}

.clickable-dropdown-item-text {
  font-size: larger;
  font-weight: 600;
  margin-top: 1%;
  margin-left: 2%;
}

.clickable-dropdown-item-btns {
  display: flex;
  align-self: end;
}

.dropdown-container::-webkit-scrollbar {
  width: 10px;
}

.dropdown-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset;
  border-radius: 10px;
}

.dropdown-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.view-details-btn {
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 7px;
  font-size: larger;
  font-weight: 400;
  background-color: black;
  cursor: pointer;

  &:hover {
    background-color: #1fdf64;
  }
}

.dropdown-item-type {
  font-weight: 300;
}
