.home-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  flex-direction: column;

  .home-page-db-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .db-stats-count-of-nodes,
    .db-stats-count-of-relationships {
      height: 50px;
      width: 400px;
      text-align: center;
      font-weight: 600;
      margin-top: 3px;
      font-size: large;
    }

    .refresh-button-container {
      background-color: #a0a0a0;
      .refresh-button {
        margin-top: 10px;
        height: 40px;
        width: 200px;
        padding: 10px;
        font-size: medium;
        color: white;
        background-color: black;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          background-color: #a0a0a0;
        }
      }
    }
  }
}
