.navbar-wrapper, .navbar-links, .router-wrapper {
  width: 100%;
  height: 75px;
}

.router-wrapper {
  border: solid 3px #C6D8FF;
  border-radius: 10px;
  background-color: #C6D8FF;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.router-link {
  color: black;
  font-size: x-large;
  text-decoration: none;
  margin: 10px;
  &:hover, &:focus {
    color: rgb(47, 10, 209);
  }
}
